@font-face {
    font-family: 'MAK Zeferino';
    src: url('MAKZeferino.eot');
    src: url('MAKZeferino.eot?#iefix') format('embedded-opentype'),
        url('MAKZeferino.woff') format('woff'),
        url('MAKZeferino.svg#MAKZeferino') format('svg');
    font-weight: normal;
    font-style: normal;
}

